<section class="secciones">
    <h1 class="title" id="proyectos">PROJECTS</h1>
    <div class="header-bar"></div>
    <div class="gallery">
        <div class="card" *ngFor="let project of projectList">
            <img [src]="project.image" 
                class="image-project"
                alt="web page image">
            <div class="card-body card-project">
                <h5 class="card-title">{{ project.name }}</h5>
                <p class="card-text">{{ project.year }}</p>
                <a [href]="project.link" target="_blank" class="site">SITE</a>
            </div>
        </div>
    </div>
</section>
