<section class="secciones">
    <h1 id="proyectos">PROJECTS</h1>
    <div class="header-bar"></div>
    <div class="gallery">
        <div class="card" *ngFor="let project of projectList">
            <img [src]="project.image" 
                class="card-img-top"
                alt="web page image">
            <div class="card-body" style="color: #333">
                <h5 class="card-title">{{ project.name }}</h5>
                <p class="card-text">{{ project.year }}</p>
                <a [href]="project.link" target="_blank" class="site">SITE</a>
            </div>
            <div class="card-footer" style="color: #666">
                {{ project.description }}
            </div>
        </div>
    </div>
</section>
