<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="about">
            <h2>About this page</h2>
            <p>Portfolio Web</p>
            <ul>
                <li><a href="#proyectos">Projects</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#experiencia">Experience</a></li>
            </ul>
        </div>
        <div class="red-social">
            <a href="https://www.github.com/LiliaG-hiramatsu" class="fa-brands fa-github"></a>
            <a href="https://www.linkedin.com/in/liliaghiramatsu" class="fa fa-linkedin"></a>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2023 <b>Lilia Andrea García Hiramatsu</b> - All rights reserved.</small>
    </div>
</footer>
