<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <h2>Sobre esta página</h2>
            <p>Portfolio Web</p>
        </div>
        <div class="box">
            <div class="red-social">
                <a href="https://www.facebook.com/lilighiramatsu" class="fa fa-facebook"></a>
                <a href="https://www.instagram.com/lilighiramatsu/?hl=es-la" class="fa fa-instagram"></a>
                <a href="https://www.linkedin.com/in/lilia-garc%C3%ADa-hiramatsu-33288718a/" class="fa fa-linkedin"></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2022 <b>Lilia Andrea García Hiramatsu</b> - Todos los derechos reservados.</small>
    </div>
</footer>
