<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="contenido">
            <h3>About this page</h3>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#proyectos">Projects</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#experiencia">Experience</a></li>
            </ul>
        </div>
        <div class="contenido">
            <h3>Follow me</h3>
            <ul>
                <li><a href="https://www.github.com/LiliaG-hiramatsu"><i class="fa-brands fa-github"></i> Github</a></li>
                <li><a href="https://www.linkedin.com/in/liliaghiramatsu"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
                <li><a href="https://www.instagram.com/lilighiramatsu"><i class="fa fa-instagram"></i> Instagram</a></li>
            </ul>
        </div>
        <div class="contenido">
            <h3>More content</h3>
            <ul>
                <li><a href="#">link1</a></li>
                <li><a href="#">link2</a></li>
                <li><a href="#">link3</a></li>
                <li><a href="#">link4</a></li>
            </ul>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2023 <b>Lilia Andrea García Hiramatsu</b> - All rights reserved.</small>
    </div>
</footer>
