<nav class="navbar navbar-expand-md navbar-light" id="about">
    <div class="container-fluid">
            <button class="navbar-toggler collapsed d-flex d-md-none flex-column justify-content-around" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="toggler-icon top-bar"></span>
                <span class="toggler-icon middle-bar"></span>
                <span class="toggler-icon bottom-bar"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="item-list navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#home">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#proyectos">PROJECTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#skills">SKILLS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#educacion">EDUCATION</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#experiencia">EXPERIENCE</a>
                </li>
                <!--
                <li class="nav-item">
                    <button class="navbar-toggler" type="button">
                            CV
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="item-list navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" target="_blank" href="https://drive.google.com/file/d/1-Mh_wVpLJLIaxXaTVLhZ8aS3uf0ejTJr/view?usp=sharing">English</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" target="_blank" href="https://drive.google.com/file/d/1DqIACsNsdXCX_SjYcpYglsoNip5IUWGS/view?usp=sharing">Spanish</a>
                            </li>
                        </ul>
                    </div>
                </li>
                -->
            </ul>
        </div>
    </div>
</nav>
