<nav class="navbar navbar-expand-md navbar-light">
    <div class="container-fluid">
            <button class="navbar-toggler collapsed d-flex d-md-none flex-column justify-content-around" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="toggler-icon top-bar"></span>
                <span class="toggler-icon middle-bar"></span>
                <span class="toggler-icon bottom-bar"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="item-list navbar-nav me-auto mb-2 mb-lg-0" id="about">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#home">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#proyectos">PROJECTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#skills">SKILLS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#educacion">EDUCATION</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#experiencia">EXPERIENCE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://drive.google.com/file/d/1VMWHS_yu1RKee_eUt1wFZp8cOmhEiCWW/view?usp=share_link">CV</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
